# .env.example

# Memos Configuration
# Your Memos server URL
MEMOS_URL="YOUR_MEMOS_URL"

# Your Memos Open API (found in setting -> MyAccount )
MEMOS_API_TOKEN="YOUR_MEMOS_API_KEY"

# --- AI Model Configuration ---
# Google Gemini API Key
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# OpenAI API Key
# OPENAI_API_KEY="your_openai_api_key_here"

# Anthropic Claude API Key
# ANTHROPIC_API_KEY="your_anthropic_api_key_here"

# Gemini Model Name (Optional)
# default to 'gemini-2.0-flash'. You can choose a avaliable model.
GEMINI_MODEL_NAME="gemini-2.0-flash"
