# .env.example

# Memos Configuration
# Your Memos server URL
YOUR_MEMOS_URL="YOUR_MEMOS_URL"

# Your Memos Open API (found in setting -> MyAccount )
YOUR_MEMOS_API_KEY="YOUR_MEMOS_API_KEYo"

# --- AI Model Configuration ---
# Google Gemini API Key
YOUR_GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# OpenAI API Key
# OPENAI_API_KEY="your_openai_api_key_here"

# Anthropic Claude API Key
# ANTHROPIC_API_KEY="your_anthropic_api_key_here"

# Gemini Model Name (Optional)
# default to 'gemini-1.5-flash-latest'. You can choose a avaliable model.
# GEMINI_MODEL_NAME="gemini-1.5-pro-latest"
